# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Visual studio code folder
.vscode

# Message manager artifact
messages.tar

# Test binary, build with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out
